body{
    margin: 0;
    font-family: Arial,  sans-serif;
    background-color: aqua;
    color: white;

}


.container{

    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
}

h1{
    text-align: center;

}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
    margin-bottom: 5px;
}

input, textarea{

    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;

}

button{

    margin-top: 15px;
    padding: none;
    border: none;
    background: #38bdf8;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{

    background: #0ea5e9;
}
